.container{
		width:200px;
		height:273px;
		border:1px solid black;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;		
	}
	.slider_wrapper{
		overflow: hidden;
		position:relative;
		height:200px;
		top:auto;
	}
	.image_slider{
		position: relative;
		height: auto;
		list-style: none;
		overflow: hidden;
		float: left;
		padding:0px;
		margin:0px;
	}
	.image_slider li{
		position: relative;
		float: left;
	}
	.text-center{
		text-align: center;
	}
	.prev{
		float: left;
	}
	.next{
		float: right;
	}
	div#main {
	  margin-left: 475px;
	}